<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Horas</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
                {{ if eq .CargaHoraria 40 }}
                    <tr>
                        <td>{{ .Nome }}</td>
                        <td>{{ .CargaHoraria }}</td>
                    </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</body>
</html>